# Arquivos de build
/target/
*.class

# Configurações de IDEs
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# Eclipse
.project
.classpath
.settings/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Bibliotecas baixadas (caso não versionadas manualmente)
lib/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp